@model Bowling_Tournament_Registration_System.Ui.ViewModels.RegisterTeamVm;

<h2>Register Team</h2>

<form asp-action="Register" method="post">
    <input type="hidden" asp-for="TournamentId" />

    <div style="max-height: 300px; overflow-y: auto;" class="mb-3 border rounded p-2">
        @foreach (var team in Model.Teams)
        {
            <div class="form-check border-bottom m-2">
                <input type="radio" class="form-check-input" asp-for="SelectedTeamId" value="@team.Id" id="team_@team.Id" />
                <label class="form-check-label" for="team_@team.Id">@team.TeamName </label>
            </div>
        }
    </div>


        <button class="btn btn-primary" type="submit">Register</button>
</form>

