@model Bowling_Tournament_Registration_System.Ui.ViewModels.CreateTeamVm

<h2>Create Team</h2>

<form asp-action="Create" method="post">

	<div>
		<label>Team Name</label>
		<input asp-for="TeamName" />
	</div>

	<div>
		<label>Division</label>
		<input asp-for="DivisionId" />
	</div>

	<button type="submit">Create</button>
</form>